dataset/train.csv
dataset/all_data.csv
dataset/test.csv

dataset/data1.pickle
dataset/document_vectors.pickle
dataset/betterclean.pickle

dataset/pythonfiles/
dataset/saved_weights.pt
dataset/tagged_data.pickle
dataset/cc.en.300.bin
dataset/cc.en.300.bin.gz
dataset/LR_model.pkl
dataset/LR_document_vectors.pickle
dataset/cleaned_data.csv
dataset/balanced_data.csv

dataset/bert.pt
dataset/bertL2.pt
dataset/bertStateDict.pt
dataset/bertL2StateDict.pt
dataset/logistic_regression_doc2vec.pkl
dataset/logistic_regression_tfidf.pkl
dataset/doc2vec_model.pkl
dataset/tfidf_vectoriser.pkl

server/node_modules/*
server/package-lock.json
frontend/node_modules/*
ui/node_modules/*
ui/package-lock.json
ui/node_modules/*/*

=======
.DS_Store
.venv
